{% extends "FeedApp/base.html" %}

{% block page_header %}
<body style="background-color:powderblue;">
    <div class="jumbotron">
        <h1 style="font-family: Brush Script MT, cursive;" class="display-3">Ferver</h1>
        
            <p style= "font-family: Baskerville, serif;" class="lead">A Social Network where you can be yourself.
            </p>

            <a class="btn btn-lg btn-outline-primary" href="{% url 'users:register' %}"
            role="button">Join Now &raquo;</a>
    </div>
{% endblock page_header %}